$width: 56vw;
$height: 52px;

.searchBar {
  border: 1px solid var(--line-gray);
  margin-top: 10px;

  &:focus {
    border: 2px solid yellow;
  }
}
.searchContainer {
  @media (max-width: 700px) {
    width: 0%;
  }
}
