.title {
    font-size: 1.8rem;
    font-weight: bold;

    margin-bottom: 20px;
}

.cartSelection {
    width: 70%;

    display: flex;
    justify-content: space-between;

    padding: 10px;

    font-size: 1.5rem;

    background-color: var(--box-bg);

    margin-bottom: 10px;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.cartBody {
    display: flex;
    gap: 20px;

    @media (max-width: 700px) {
        flex-direction: column;
    }

    .cartItems {
        min-width: 70%;
        display: flex;
        flex-direction: column;

        gap: 20px;
    }

    .orderSummary {
        align-self: flex-start;
        width: 300px;
        padding: 20px;
        position: sticky;
        top: 135px;
        right: 10px;

        background-color: var(--box-bg);

        @media (max-width: 700px) {
            position: relative;
            top: 0px;
            left: 50%;
            transform: translateX(-50%);
        }

        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .info {
            margin-top: 5px;
            font-size: 1.2rem;
            color: var(--prm-grey);

            display: flex;
            flex-direction: column;

            gap: 5px;

            .data {
                display: flex;
                justify-content: space-between;
            }

            .total {
                margin-top: 30px;
            }

            .number {
                font-size: 1.8rem;
                font-weight: bold;
                color: var(--default-red);
            }
        }

        .actionBtn {
            width: 100%;
            align-self: center;

            margin-top: 15px;

            button {
                width: 100% !important;
            }
        }
    }
}
