.orderHistory {
    display: flex;
    flex-shrink: 0;

    justify-content: space-between;

    width: 100%;

    @media (max-width: 700px) {
        flex-direction: column;
    }

    .optionsHolder {
        @media (max-width: 700px) {
            display: flex;
            justify-content: space-around;
        }
    }
    .orderHistoryNav {
        margin-top: 50px;
        line-height: 25px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }
        ul {
            @media (max-width: 700px) {
                display: none;
            }
            li {
                font-size: 1.2rem;
                list-style: none;
                margin-left: 10px;

                cursor: pointer;

                &:hover {
                    color: var(--theme-color);
                }
            }
        }
    }

    .layout {
        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        margin-right: 100px;
        width: 70%;

        display: flex;
        flex-direction: column;
        min-height: 550px;
        gap: 20px;

        @media (max-width: 700px) {
            margin-right: 0px;
            margin: auto;
            padding-top: 30px;
            width: 95%;
        }
    }

    .products {
        .title {
            font-size: 1.5rem;
            font-weight: bold;
        }

        margin-right: 100px;
        width: 70%;

        display: flex;
        flex-direction: column;

        gap: 20px;
    }
}
