.productDisplay {
    width: 100%;

    position: absolute;

    top: 60;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    .productInfo {
        min-width: 90%;
    }
}
