.signupWrapper {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    top: 0;
    left: 0;

    background-image: url("../../../../public/images/waves.svg");
    background-position: center;

    background-repeat: no-repeat;

    margin-top: 40px;

    .formInput {
        .mapHolder {
            height: 200px;
            width: 450px;

            background-color: aqua;
        }
        .terms {
            display: flex;
            align-items: center;
            justify-content: flex-start;

            gap: 10px;

            input {
                width: fit-content;
            }
        }

        select {
            padding: 1rem 2rem;

            border: 1px solid var(--line-gray);
            background-color: white;
            outline: none;

            &:focus {
                outline: none;
                border: 1px solid var(--theme-color);
            }
        }

        .actionBtn {
            display: flex;
            flex-grow: 1;

            gap: 10px;
        }
    }
}
