.bannerSlider {
  display: flex;
  width: 100%;
  padding: 0 50px;

  @media (max-width: 700px) {
    height: 300px;
    padding: 0px;
  }
}

.bannerSliderDotContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: 5px;
  gap: 5px;
  span {
    display: inline-block;
    border-radius: 10px;
    width: 10px;
    height: 10px;
    cursor: pointer;
  }
}

.show {
  display: block;
}

.hide {
  display: none;
}
