$top-margin-for-cat: 0px;

.catogriesMain {
    position: relative;

    background: #ffffff;
    border: 1px solid var(--line-gray);

    .subcat {
        display: none;
        position: absolute;
        left: 100%;
        top: $top-margin-for-cat;
        z-index: 2;
    }

    .catContainer {
        margin-top: $top-margin-for-cat;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        width: 100vw;

        .catogryIcon {
            color: var(--theme-color);
        }

        button {
            font-size: 1.1rem;
            margin-bottom: 10px;
        }
    }

    .catHolder {
        width: 100%;
    }

    .catHolder:hover .catText {
        color: var(--theme-color);
    }
}
