.mainContainer {
    margin-top: 90px;

    display: flex;

    .contentContainer {
        width: 100vw;

        margin-left: 60px;
        margin-right: 60px;
    }
}
.copyright {
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}
