.mainContainer {
    margin-top: 87px;

    display: flex;

    .contentWrapper {
        display: flex;
        justify-content: center;
        width: 100%;

        .contentContainer {
            width: 1300px;
        }
    }
}
.copyright {
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}
