.productDisplay {
  //margin-top: 70px;
  width: 100%;
  min-height: 440px;

  background-color: var(--box-bg);
  display: flex;
  gap: 50px;
  padding: 20px;

  &__imagesDisplay {
    height: 90%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;

    &_img {
      width: 100%;
      height: 300px;
      position: relative;
    }

    &_selector {
      width: 100%;
      height: 60px;
      background-color: white;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      & > * {
        cursor: pointer;
      }
    }
  }

  &__productInfo {
    display: flex;
    flex-direction: column;
    gap: 25px;

    &_name {
      font-size: 1.3rem;
    }

    .size {
      border: 1px solid var(--default-red);
      padding: 5px 10px;
      // font-weight: bold;
      font-size: 1.3rem;
      cursor: pointer;

      &:hover {
        background-color: var(--default-red);
        color: white;
      }
    }

    .selectedSize {
      background-color: var(--default-red);
      color: white;
    }

    &_rating {
      color: #f2c94c;
      font-size: 1.2rem;
      span {
        color: var(--theme-color);
      }
    }

    &_price {
      font-size: 2.3rem;
      display: flex;
      gap: 10px;

      .original {
        color: var(--default-red);
      }

      .discounted {
        text-decoration: line-through;
      }

      .discountprice {
        color: var(--theme-color);
      }
    }

    &_quantity {
      display: flex;
      align-items: center;
      font-size: 1.3rem;
      gap: 20px;

      .buttons {
        display: flex;
        align-items: center;

        .count {
          padding: 1rem 2rem;
        }

        button {
          padding: 1rem 1rem !important;
        }
      }
    }

    &_actionBtns {
      display: flex;
      gap: 20px;
    }

    &_aditionalInfo {
      font-size: 1.2rem;
      color: var(--prm-grey);
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_sellerInfo {
        display: flex;
        flex-direction: column;

        .sellerName {
          color: var(--theme-color);
        }
      }

      &_delivary {
        display: flex;
        align-items: center;
        gap: 10px;

        .icon {
          color: var(--theme-color);
        }
      }

      .policy {
        display: flex;
        color: var(--theme-color);
        gap: 20px;
      }

      .promocode {
        display: flex;
        position: relative;
        margin-top: 20px;

        .promocodeTitle {
          padding: 10px;
        }

        .promocodeDescContainer {
          display: flex;
          background-color: var(--default-red);
          color: white;
          height: 40px;
        }

        .promocodeDesc {
          padding: 10px;
        }

        .leftTriangleContainer {
          width: 30px;
        }
      }
    }
  }

  .productDisplayRight {
    font-size: 14px;
    width: 25%;
    margin-top: 35px;

    .productDisplayRightContainer {
      border: 1px solid #ddd;
      width: 100%;
      padding: 5px;

      .containers {
        padding: 5px;
        display: flex;
        justify-content: space-between;
      }
    }

    .grey {
      color: #757575;
    }

    .ratings {
      padding: 5px;
      display: flex;
      justify-content: center;
      border-top: 1px solid #ddd;
      border-bottom: 1px sold #ddd;

      .rating {
        width: 50%;
        display: flex;
        align-items: center;
        flex-direction: column;

        .ratingPercentage {
          font-size: 20px;
          font-weight: 500;
        }

        .ratingBorderLeft {
          border-left: 1px solid #ddd;
        }
      }
    }

    .productDisplayRightButton {
      display: flex;
      justify-content: center;
      margin-top: 10px;
    }
  }
}
