.doughnutCharts {
    display: flex;

    justify-content: center;
    min-width: 90%;
}

.searchHolder {
    display: flex;
    justify-content: center;
    width: 50%;
    align-self: flex-start;
    margin-left: 50px;

    @media (max-width: 700px) {
        width: 60%;
        align-self: center;
        margin-left: 0px;
    }
}

.dashPageWraper {
    display: flex;
    justify-content: center;
}

.dashPageContainer {
    width: 1050px;
}

.dash {
    display: flex;
    flex-direction: column;

    gap: 50px;
    align-items: center;
    .earningGraph {
        background-color: white;

        box-shadow: 0px 0px 33px -10px rgba(0, 0, 0, 0.25);
        border-radius: 5px;

        padding: 20px;

        span {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .ordersDetains {
            width: 100%;
            background-color: aqua;
        }
        .monthlyGraph {
            width: 900px;
            height: 500px;
        }
    }

    .bottomCards {
        width: 90%;

        display: flex;
        justify-content: space-between;

        @media (max-width: 700px) {
            width: 350px;
        }
        .bottomLeftCards {
            width: 100%;
            display: flex;
            flex: 1 0 auto;
            // flex-grow: 1;
            // flex-direction: column;
            justify-content: space-between;
            gap: 20px;
            height: 100%;

            div {
                min-width: 50%;
            }

            @media (max-width: 700px) {
                flex-direction: column;
            }
        }

        .bottomRightCards {
            background-color: white;
            width: 45%;
            max-height: 420px;

            box-shadow: 0px 0px 33px -10px rgba(0, 0, 0, 0.25);
            border-radius: 5px;

            padding: 20px;
        }
    }
}

.earningGraph {
    @media (max-width: 700px) {
        width: 400px;
    }
}
