.infoHolder {
    display: flex;
    font-size: 1.5rem;
    gap: 10px;

    .infoTitle {
        font-weight: bold;
    }
}

.infoGroup {
    margin-top: 15px;
}

.coupenDetails {
    margin-top: 60px;
}
