.orderDetails {
    display: flex;
    flex-direction: column;

    gap: 60px;

    .tracker {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

    .info {
        display: flex;
        flex-direction: column;

        gap: 40px;

        align-items: center;

        .infoHolder {
            display: flex;
            gap: 20px;
            font-size: 1.3rem;
            .title {
                font-weight: bold;
            }
        }
        .product {
            background: #ffffff;
            box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.25);

            width: fit-content;
            padding: 20px;

            display: flex;
            align-items: center;

            gap: 100px;

            @media (max-width: 700px) {
                flex-direction: column;
            }
            .content {
                display: flex;
                flex-direction: column;
                gap: 5px;
            }

            .actBtn {
                display: flex;
                gap: 20px;
            }
        }

        .customer {
            background: #ffffff;
            box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.25);

            width: fit-content;
            padding: 20px;
            .content {
                display: flex;
                align-content: flex-start;
                gap: 100px;

                @media (max-width: 700px) {
                    flex-direction: column;

                    width: 350px;
                }
            }

            .details {
                display: flex;
                flex-direction: column;

                gap: 8px;
            }

            button {
                margin-top: 30px;
            }
        }
        .statusControl {
            background: #ffffff;
            box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.25);

            width: 550px;
            padding: 20px;

            display: flex;
            flex-direction: column;

            gap: 10px;

            .statusHolder {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .text {
                    font-size: 1.3rem;
                    font-weight: bold;
                }
                input {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }
    .mainTitle {
        font-size: 1.5rem;
        color: var(--theme-color);
        font-weight: bold;

        margin-bottom: 10px;
    }
}

.verifyOrder {
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 20px 60px;

    box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.25);
    .context {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .actBtn {
        display: flex;
        gap: 20px;
    }
}
