.productHolder {
    display: flex;

    width: 850px;
    height: fit-content;

    padding: 10px;

    background-color: rgb(211, 208, 208);

    gap: 20px;

    @media (max-width: 700px) {
        width: 400px;
    }

    .productImg {
        display: flex;
        align-items: center;
    }

    .info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 5px;
        .productName {
            font-size: 1.5rem;
            font-weight: bold;
        }

        .priceAndRating {
            display: flex;
            gap: 30px;

            .price {
                font-size: 1.7rem;
                font-weight: bold;

                color: var(--default-red);
            }

            .rating {
                font-size: 1.7rem;
                display: flex;
                align-items: center;

                gap: 10px;

                color: #f2c94c;

                span {
                    color: var(--default-dark);
                    font-weight: bold;
                }
            }
        }

        .review {
            width: 100%;
            background-color: white;
            padding: 0 10px;
            .header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .profile {
                    display: flex;
                    align-items: center;

                    .profilePic {
                        border-radius: 50%;
                        overflow: hidden;
                    }

                    .name {
                        font-size: 1.2rem;
                        font-weight: bold;
                    }
                }

                .tag {
                    background-color: var(--default-red);
                    padding: 5px;

                    max-height: 25px;
                    color: white;
                }
            }

            .content {
                padding: 5px 5px;

                font-size: 1.2rem;
            }
        }
    }
    .actBtn {
        display: flex;
        justify-content: flex-end;
        gap: 10px;
    }
}
