.addBanner {
    min-width: 450px;
    max-width: fit-content;
    background-color: white;
    box-shadow: 0 0 12px rgba(105, 105, 105, 0.479);

    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    margin-top: 20px;

    border-radius: 10px;
}
.account {
    display: flex;
    gap: 50px;

    margin-top: 60px;

    .inputs {
        display: flex;
        // flex-direction: column;

        gap: 50px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;

            color: var(--theme-color);
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
        }
    }

    .profilePic {
        button {
            margin-top: 20px;
        }
    }
}
