.account {
    display: flex;
    gap: 50px;

    margin-top: 60px;

    .inputs {
        display: flex;
        // flex-direction: column;

        gap: 50px;

        .title {
            font-size: 1.5rem;
            font-weight: bold;

            color: var(--theme-color);
            margin-bottom: 20px;
        }

        button {
            margin-top: 20px;
        }
    }

    .profilePic {
        button {
            margin-top: 20px;
        }
    }
}
