.pageTitle {
    @media (max-width: 700px) {
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }
}

.searchContainer {
    width: 50%;

    @media (max-width: 700px) {
        width: 100%;
    }
}

.dash {
    margin-top: 30px;

    display: flex;
    flex-direction: column;

    gap: 40px;
    .infoTabs {
        display: flex;
        // display: none;
        justify-content: space-evenly;

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;
            // display: none;
        }
    }

    .doughnutCharts {
        display: flex;

        justify-content: space-evenly;
        min-width: 90%;
    }

    .earningGraph {
        background-color: white;
        box-shadow: 0px 0px 21px -3px rgba(0, 0, 0, 0.25);
        padding: 15px;

        span {
            font-size: 1.5rem;
            font-weight: bold;

            color: var(--theme-color);
        }
    }

    .bottomCardsHolder {
        display: flex;
        justify-content: space-between;

        @media (max-width: 700px) {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        .customerCard {
            width: 48%;

            @media (max-width: 700px) {
                width: 400px;
            }
        }
    }

    .topProducts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;

            gap: 20px;
        }

        span {
            font-size: 1.5rem;
            font-weight: bold;

            color: var(--theme-color);
            align-self: flex-start;
        }
    }
}
