.options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    gap: 35px;
    margin-top: 40px;
}

.table {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    .title {
        color: var(--theme-color);
        margin-bottom: 20px;
    }

    .main {
        align-self: center;
    }
}
