.common {
    color: white;
    padding: 0.5rem 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    gap: 10px;

    border-radius: 3px;
    cursor: pointer;

    &:disabled {
        cursor: not-allowed;
        background-color: var(--box-bg-hover) !important;
        color: black;
    }
}

.error {
    background-color: var(--default-red);
}

.success {
    background-color: var(--default-green);
}

.white {
    background-color: white;
    outline: 1px solid black;
    color: black;
}

.gray {
    background-color: rgb(189, 189, 189);
    color: rgb(61, 61, 61);
}

.outlined {
    background-color: transparent;
    outline: 2px solid var(--default-red);

    color: black;
}

.blank {
    background-color: transparent;
    color: black;
}
