.default {
    padding: 1rem 2rem;
    width: 100%;

    border: 1px solid var(--line-gray);

    &:focus {
        outline: none;
        border: 1px solid var(--theme-color);
    }
}

.mainInput {
    label {
        font-size: 1.3rem;
        font-weight: bold;
    }
}
