.infoCard {
    width: 230px;
    height: 150px;
    padding: 10px 20px;

    color: white;

    display: flex;
    flex-direction: column;
    font-weight: bold;

    @media (max-width: 700px) {
        width: 200px;
        height: 150px;
    }

    .topPart {
        display: flex;

        align-items: center;

        gap: 10px;

        .icon {
            font-size: 5rem;
        }
        .amount {
            font-size: 3.5rem;

            @media (max-width: 700px) {
                font-size: 3rem;
            }
        }
    }
    .title {
        font-size: 1.5rem;
        margin-top: -10px;

        @media (max-width: 700px) {
            font-size: 1.4rem;
        }
    }

    .actBtn {
        margin-top: 10px;
    }
}
