.orderingInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    .group {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    @media (max-width: 700px) {
        align-items: center;
        gap: 20px;

        .group {
            // flex-direction: column;
        }
    }
}
